extends layout

block content
  h1= title + 'List'
  
  ul
    - items.sort(function(a, b) {let textA = a.title.toUpperCase(); let textB = b.title.toUpperCase(); return (textA < textB) ? -1 : (textA > textB) ? 1 : 0;});
    each item in items
      li 
        a(href=item.url) #{item.title} 
        | | 
        each genre in item.genres 
          span= genre.name + ' | '

    else
      li There are no books.