extends layout

block content
  h1= title + 'List'
  
  ul
    - items.sort(function(a, b) {let textA = a.name.toUpperCase(); let textB = b.name.toUpperCase(); return (textA < textB) ? -1 : (textA > textB) ? 1 : 0;});
    each item in items
      li 
        a(href=item.url) #{item.name}

    else
      li There are no genre available.